
@charset "utf-8";
html {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simhei, Verdana, SimSun;
}

body {
    background: #FFFFFF;
}

/* body,
html {
    overflow-x: hidden;
} */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
button,
textarea,
p,
th,
td,
b,
i,
strong,
a,
span {
    padding: 0;
    margin: 0;
    font-family: "PingFang-SC-Regular", "Microsoft YaHei", "微软雅黑", tahoma, arial, simhei, Verdana, SimSun;
    font-size: 0.3rem;
}

strong,
b {
    font-weight: normal;
}

fieldset,
img {
    border: 0
}
a {
    text-decoration: none;
    color: #000;
    outline: none
}
li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

input,
button,
textarea,
select,
optgroup,
option {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input,
button,
textarea,
select {
    *font-size: 100%
}
input{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.fixed-top{
    margin-top: 44px;
}
.header{
    height: 44px;
}
/* 返回按钮 */
.back-arrow{
    width: 20px;
    height: 18px;
}
.back{
    display: flex;
    align-items:center;
}
/* 搜索的icon */
.search-icon{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
/* 图片居中 */
.pro-img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* 遮罩 */
.mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    position: fixed;
    top: 0;
    z-index: 98;
}
.clear:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

input {
    outline: none;
}

.cl {
    clear: both;
    overflow: hidden;
}

.clear {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.show {
    display: block;
}

.none,
.hide {
    display: none;
}
.swiper-pagination-bullet-active{
  background: #FFFFFF;
}
.shade {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1500;
    top: 0;
    display: none;
}

.shadeBlack {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    position: fixed;
    top: 0;
    z-index: 2000;
}
.colorD00001{
    color: #D00001;
}
.color999{
    color: #999;
}
/* 底部 */
.footer .a{

}
/*YD公共样式更改*/
.form .yd-cell-item{
    padding-left:  0;
    border-bottom: 1px solid #eee;
}
.form .yd-cell-right{
    padding-right: 0;
    color: #333;
    font-size: 0.3rem;
}
.form .yd-cell-right input{
    font-size: 0.3rem;
}
.form .yd-btn{
    height: 0.8rem;
    border-radius: 0;
    font-size: 0.3rem;
    min-width: 1rem;
}
.form .yd-btn-warning:not(.yd-btn-loading){
    background: #1b1b1b;
}
.form .yd-btn-disabled{
    background-color: #fff;
    color: #E83E3E;
}
.form .yd-btn-block{
    height: 0.88rem;
    border-radius: 0;
}
.form .yd-btn-primary:not(.yd-btn-loading){
    background: #1b1b1b;
}
.form .yd-cell-item:not(:last-child):after{
    height: 0;
}
.login .form .yd-cell-item{
    margin-top: 0.3rem;
}
.form .submit{
    border: none;
    display: block;
    width: 100%;
    height: 0.88rem;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    margin-top: 0.5rem;
}
/***首页UI修改**/
.index .yd-slider-pagination-item{
    width: 0.24rem;
    height: 0.06rem;
    border-radius: 0.03rem;
}
.index .yd-slider-pagination-item-active{
    background-color: #fff!important;
}
