
@charset "utf-8";
html {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simhei, Verdana, SimSun;
}

body {
    background: #FFFFFF;
}

/* body,
html {
    overflow-x: hidden;
} */

input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
button,
textarea,
p,
th,
td,
b,
i,
strong,
a,
span {
    padding: 0;
    margin: 0;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simhei, Verdana, SimSun;
}

strong,
b {
    font-weight: normal;
}

fieldset,
img {
    border: 0
}
a {
    text-decoration: none;
    color: #000;
    outline: none
}
li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

input,
button,
textarea,
select,
optgroup,
option {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input,
button,
textarea,
select {
    *font-size: 100%
}

.clear:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

input {
    outline: none;
}

.cl {
    clear: both;
    overflow: hidden;
}

.clear {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.show {
    display: block;
}

.none,
.hide {
    display: none;
}

.shade {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1500;
    top: 0;
    display: none;
}

.shadeBlack {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    position: fixed;
    top: 0;
    z-index: 2000;
}
.colorD00001{
    color: #D00001;
}
.color999{
    color: #999;
}
/* 底部 */
.footer .a{

}